body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  
}

.intro-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F5F7FB;

}