body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  background-color: #F5F7FB;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F5F7FB;
  margin-top: 25vh
}

.click, .start, .check {
  background: #4D5B9E;
  color: #F5F7FB;
  border-radius: 15px;
  padding: 24px;
  margin-top: 16px;
  width: 200px;
  font-size: 24px;
  font-family: 'Karla', sans-serif;
  transition: transform .2s;
}

.click:hover, .start:hover {
  transform: scale(1.1)
}

.blob1 {
  position: absolute;
  right: 0;
  top: 0;
}

.blob2 {
  position: absolute;
  left: 0;
  bottom: 0;
}

.quiz-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F7FB;
    margin-top: 16px;
}

.check {
  height: 50px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 8px;
  text-align: center;
  font-size: 1.25rem;
}

.choices {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.choice {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #293264;
  background-color: #F5F7FB;
  border: 1px solid #4D5B9E;
  width: 125px;
  height: 50px;
  border-radius: 8px;
  padding: 8px;
}

.selected {
  color: #293264;
  background-color: #D6DBF5;
  border: none;
}