body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  background-color: #F5F7FB;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F5F7FB;
  margin-top: 25vh
}

.click, .start {
  background: #4D5B9E;
  color: #F5F7FB;
  border-radius: 15px;
  padding: 24px;
  margin-top: 16px;
  width: 200px;
  font-size: 24px;
  font-family: karla;
  transition: transform .2s;
}

.click:hover, .start:hover {
  transform: scale(1.1)
}

.blob1 {
  position: absolute;
  right: 0;
  top: 0;
}

.blob2 {
  position: absolute;
  left: 0;
  bottom: 0;
}

.quiz-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F7FB;
}

.check {
  height: 50px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

